@import url('https://fonts.googleapis.com/css?family=Spectral+SC:400,800');

h1 {
    color: whitesmoke;
    font-size: 25px;
    font-family: 'Spectral SC', serif;
    border-bottom: 3px solid rgb(65, 32, 0);
    padding-bottom: 5px;
}

.bold {
    border-bottom: 1px solid #222
}

.viewShell {
    display: flex;
    justify-content: space-between;
}

.viewBox {
    min-width: 650px;
    padding: 15px;
    background: rgba(255, 255, 255, 0.6);
    margin: 25px;
}
.viewBoxSidebar {
    min-width: 200px;
    margin-left: 33px;
    height: 100%;
}

.sidebarShell {
    background:rgba(255, 255, 255, 0.753)
}

.sidebarSelection {
    padding: 5px 10px;
    margin-bottom: 5px;
    font-family: 'Spectral SC', serif;
}

.sidebarSelection:first-child {
    padding: 10px 10px 5px 10px;
}

.sidebarSelection:last-child {
    padding: 5px 10px 10px 10px
}

.sidebarSelected {
    color: grey;
}

.sidebarSelected .sidebarItem {
    border-bottom: 3px solid grey;
}

.sidebarSelected .sidebarItem:hover {
    background: transparent
}

.sidebarItem {
    border-bottom: 3px solid rgb(65, 32, 0);
}

.sidebarItem:hover {
    background-color: #89CFF0
}

.sidebarSelection:last-child {
    margin-bottom: 0;
}

.sidebarLoader {
    padding: 25px 0;
}

.hidden {
    display: none;
}

.spellHolder {
    margin-top: 15px;
    
}

.holdOuter {
    margin-top: 15px;
    font-family: 'Spectral SC', serif;
}

.holdOuter:hover .holdHeader {
    background-color: #89CFF0
}

.holdHeader {
    padding: 15px;
    background: #C9AE5D;
}

.holddetails {
    padding: 5px 15px;
    background-color: whitesmoke;
    color: rgb(65, 32, 0);
    display: flex;
    font-size: 13px;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
}

.holdEffects {
    border-bottom: 3px solid rgb(65, 32, 0);
    padding: 10px 15px 15px 15px;
    background-color: grey;
    color: whitesmoke;
}

.holdIndividual {
    padding-top: 5px;
}

.holdButton {
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
}

.selectionTitle {
    background: #C9AE5D;
    text-align: center;
    padding-top: 9px;
}

.selectionModal {
    position: fixed;
    width: 30%;
    top: 10%;
    left: 35%;
    padding: 25px;
    background: rgba(255, 255, 255);
    font-family: 'Spectral SC', serif;
}

.selectTray {
    overflow-y: auto;
    background: whitesmoke;
}

.selectItem {
    padding: 10px;
}

.selectItem:hover {
    background-color: #89CFF0
}

.overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.25);
}

.headerDescrip {
    padding: 15px 0;
}

.listButton {
    width: 100px
}

.deleteButton {
    background-color: rgb(199, 50, 50);
    margin-top: 20px;
    color: whitesmoke;
}

.inputShell {
    display: flex;
    flex-direction: column;
}

.inputTitle {
    height: 33px;
    padding: 0 5px;
    border: none;
    border-bottom: 3px solid rgb(65, 32, 0);
    background-color: rgba(245, 245, 245, 0.8);
    font-family: 'Spectral SC', serif;
}

.inputDescrip {
    padding: 0 5px;
    height: 34px;
    margin: 6px 0;
    background-color: rgba(245, 245, 245, 0.8);
    font-family: 'Spectral SC', serif;
    border: none
}

.inputButtons {
    display: flex;
    justify-content: space-between;
}

.inputCancel {
    margin: 0;
}

.greyed {
    background: lightgrey;
}

.greyed:hover {
    background: lightgrey;
}

.margin {
    margin-top: 15px
}

/* ========================== */

.outerHam {
    position: absolute;
    height: 25px;
    width: 30px;
    top: -50px;
    left: 25px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.innerHam {
    width: 30px;
    height: 5px;
    background-color: whitesmoke
}

.hamOverlay {
    background: rgba(0, 0, 0, 0.90);
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
}

.exit {
    width: 96%;
    height: 50px;
    background-color: rgb(199, 50, 50);
    margin: 15px auto;
    font-size: 35px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* =========================== */

@media(max-width: 800px) {
    .viewBoxSidebar {
        width: 21.5%;
        padding: 15px 0;
    }

    .viewBoxMain {
        padding-right: 0;
    }

    .viewBox {
        min-width: 0;
        margin: 25px 0;
    }
}

@media(max-width: 500px) {
    .viewBoxSidebar {
        height: 0;
        width: 0;
        position: absolute;
    }

    .viewBoxMain {
        padding: 15px 5px;
        width: 100%;
    }

    .hamHolder {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        height: 80%;
    }

    .sidebarItem {
        border: none;
    }

    .sidebarSelection {
        height: 50px;
        width: 29%;
        margin: 15px 1px;
        text-align: center;
        background-color: #C9AE5D;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .sidebarSelected .sidebarItem {
        border-bottom: none;
    }
    
    .sidebarSelected {
        background: grey;
        color: #222;
    }

    .selectionModal {
        width: 90%;
        left: 5%;
    }
}