.viewShell {
    display: flex;
    justify-content: space-between;
}

.viewBox {
    min-width: 80%;
    padding: 15px;
}

.viewBoxSidebar {
    min-width: 20%;
}

.sidebarSelection {
    padding: 7px 5px 7px 20px;
    margin-bottom: 5px;
}

.sidebarSelection:hover {
}

.sidebarSelection:last-child {
    margin-bottom: 0;
}

.hidden {
    display: none;
}

.spellHolder {
    margin-top: 15px;
}

.holdOuter {
    margin-top: 15px;
}

.holdHeader {
    padding: 15px;
}

.holddetails {
    padding: 5px 15px;
    background-color: #222;
    color: whitesmoke;
    display: flex;
    justify-content: space-between;
}

.holdEffects {
    padding: 10px 15px 15px 15px;
}

.holdIndividual {
    padding-top: 5px;
}

.holdButton {
    margin-top: 15px;
}

.selectionModal {
    position: fixed;
    height: 50%;
    width: 30%;
    top: 10%;
    left: 35%;
    padding: 25px;
}

.selectTray {
    overflow-y: auto;
}

.selectItem {
    padding: 10px;
}

.selectItem:hover {
}

.overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}