@import url('https://fonts.googleapis.com/css?family=Spectral+SC:400,800');

h3 {
    font-family: 'Spectral SC', serif;
    color: white;
    border-bottom: 3px solid rgb(65, 32, 0);
    padding-bottom: 5px;
    font-size: 20px;
}

.outerShell {
    display: flex;
    flex-direction: row;
}

.box {
    width: 50%;
    height: 100%;
    min-height: 500px;
    margin: 25px;
    padding: 25px;
    background: rgba(255, 255, 255, 0.6);
}

.innerBox:nth-child(2) {
    margin-bottom: 25px;
}

.listShell {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.listTitle {
    padding: 10px;
    font-size: 17px;
    background: #C9AE5D;
}

.listDescrip {
    padding: 10px;
    background: whitesmoke;
    font-size: 15px;
}

.listNoDescrip {
    border-bottom: 15px solid whitesmoke;
}

.listBox {
    margin-bottom: 10px;
    font-family: 'Spectral SC', serif;
}

.listBox:hover .listTitle {
    background: #89CFF0;
}

.listBox:last-child {
    margin-bottom: 0;
}

.listInner {
    overflow-y: auto;
    margin-bottom: 25px;
}

.orderBox {
    display: flex;
    flex-wrap: wrap;
    background: rgba(255, 255, 255, 0.753);
    padding: 10px;
    font-family: 'Spectral SC', serif;
    margin-bottom: 25px;
}

.orderEach:hover {
    background: #89CFF0;
}

.orderEach {
    padding: 5px 7px;
    margin: 1px;
    background: #C9AE5D;
}

.all {
    width: 100px;
    text-align: center;
    background: rgb(175, 152, 81);
}

.miracleBox {
    margin-bottom: 25px;
}

.loginBox {
    height: 100%;
    min-height: 400px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

button {
    height: 35px;
    width: 150px;
    background: #C9AE5D;
    border: none;
    font-family: 'Spectral SC', serif;
}

button:hover {
    background: #89CFF0;
}

.listButton {
    display: flex;
    justify-content: space-around;
    padding: 7px 0;
    min-width: 110px;
    font-size: 13px
}

.warningTitle {
    background-color: rgb(199, 50, 50);
    color: whitesmoke;
    text-align: center;
    padding: 5px;
    font-size: 17px;
}

.warningTray {
    padding: 10px;
    text-align: center;
}

/* MEDIA QUERIES */

@media (max-width: 425px) {
    .outerShell {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .box {
        width: 100vw;
        display: flex;
        justify-content: space-between;
    }

    .orderEach {
        height: 45px;
        width: 45%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .orderBox {
        flex-wrap: wrap;
        justify-content: space-around;
    }
}