@import url('https://fonts.googleapis.com/css?family=Spectral+SC:400,800');

h3 {
    font-family: 'Spectral SC', serif;
    color: white;
    border-bottom: 3px solid rgb(65, 32, 0);
    padding-bottom: 5px;
    font-size: 20px;
}

.outerShell {
    display: flex;
    flex-direction: row;
}

.box {
    width: 50%;
    height: 500px;
    margin: 25px;
    padding: 25px;
    background: rgba(255, 255, 255, 0.6);
}

.innerBox {
    height: 200px;
    /* border: 3px solid rgb(65, 32, 0); */
}

.innerBox:nth-child(2) {
    margin-top: 29px;
}

.listShell {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.listTitle {
    padding: 10px;
    font-size: 20px;
}

.listDescrip {
    padding: 15px 5px;
}

.listBox {
    margin-bottom: 10px;
}

.listBox:last-child {
    margin-bottom: 0;
}

.listInner {
    overflow-y: auto;
    margin-bottom: 5px;
}

.orderBox {
    display: flex;
    flex-wrap: wrap;
    background: rgba(255, 255, 255, 0.753);
    padding: 10px;
    font-family: 'Spectral SC', serif;
}

.orderEach:hover {
    background: #89CFF0;
}

.orderEach {
    padding: 5px 7px;
    margin: 1px;
    background: #C9AE5D;
}

.all {
    width: 100px;
    text-align: center;
    background: rgb(175, 152, 81);
}